footer {
    border-top: 1px solid rgba(0, 0, 0, 0.301);
    background-color: #FE7BE5;
    background-color: #C8FFE0;
    background-color: #FF6666;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: .8rem;
    }
}